<!-- Sidebar -->
<div id="sidebar" class="sidebar bg-[var(--zomp)] text-[var(--white)] w-64 p-4 space-y-2 transition-transform duration-300 ease-in-out transform -translate-x-full fixed top-16 left-0 h-[calc(100%-64px)] z-50">
    <div class="mb-4">
        <span class="text-lg font-bold">DASHBOARD</span>
    </div>
    <a href="/view/html/dashboard/dashboard.html" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="grid"></i>
        <span class="ml-2">DASHBOARD</span>
    </a>
    <a href="/view/html/paciente/paciente.html" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="users"></i>
        <span class="ml-2">PACIENTES</span>
    </a>
    <a href="/view/html/cadastrar/cadastrar.html" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="database"></i>
        <span class="ml-2">CADASTRAR</span>
    </a>
    <a href="/view/html/anamnese/anamnese.html" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="file-text"></i>
        <span class="ml-2">ANAMNESES</span>
    </a>
    <a href="/view/html/consulta/consulta.html" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="coffee"></i>
        <span class="ml-2">CONSULTA</span>
    </a>
    <a href="#" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="check-square"></i>
        <span class="ml-2">APROVAÇÃO</span>
    </a>
    <a href="/view/html/relatorios/relatorios.html" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="upload"></i>
        <span class="ml-2">EMITIR</span>
    </a>
    <a href="#" class="flex items-center p-2 hover:bg-teal-700 rounded">
        <i data-feather="settings"></i>
        <span class="ml-2">CONFIGURAÇÕES</span>
    </a>
    <div class="mt-auto text-sm">psyclin.1.0A</div>
</div>