<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psyclin Dashboard</title>
    <link rel="shortcut icon" href="/view/images/FasiclinIcon.png" type="image/x-icon">
    <!-- Importando Tailwind CSS -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Importando Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Importando CSS da página -->
    <link rel="stylesheet" href="/view/css/dashboard/dashboard.css">
</head>

<body>
    <!-- Container principal -->
    <div class="main-content flex flex-col h-screen">
        <!-- Navbar -->
        <nav class="bg-[var(--zomp)] border-b-2 border-[var(--oxford-blue)] shadow-lg">
            <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
                <!-- Botão Hambúrguer -->
                <button id="btn-sidebar-toggle" class="text-white p-2 sm:p-3 md:p-4 lg:p-5 rounded-md bg-[var(--zomp)] hover:bg-[var(--oxford-blue)] transition duration-300">
                    <i data-feather="menu"></i>
                </button>

                <!-- Logo -->
                <a href="/view/html/dashboard/dashboard.html" class="hidden sm:flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="/view/images/FasiclinLogo.png" class="h-20" alt="Fasiclin Logo" />
                </a>
                <!-- Barra de Pesquisa no Desktop -->
                <div id="search-bar" class="hidden sm:block flex-1 mx-4 min-w-[200px] sm:min-w-[300px]">
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <i data-feather="search" class="text-gray-400"></i>
                        </div>
                        <input type="text" placeholder="Estou procurando por..." class="w-full p-2 pl-10 text-sm text-gray-900 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-mountain-meadow">
                    </div>
                </div>

                <!-- Menu de Usuário -->
                <div class="flex items-center space-x-4">
                    <!-- Botão Lupa (Mobile) -->
                    <button id="button-mobile-search" class="icon-btn sm:hidden text-white">
                        <i data-feather="search"></i>
                    </button>
                    <!-- Notificação (Mobile) -->
                    <button id="button-mobile-notification-" class="icon-btn sm:hidden text-white">
                        <i data-feather="bell"></i>
                    </button>

                    <!-- Botões para Desktop -->
                    <div id="desktop-menu" class="hidden sm:flex items-center space-x-4">
                        <button class="icon-btn button-help" aria-label="Ajuda"><i
                                data-feather="help-circle"></i></button>

                        <!-- Botão de notificações com dropdown -->
                        <button class="icon-btn button-notification relative" aria-label="Notificações" id="button-notification" data-dropdown-toggle="notifications-dropdown">
                            <i data-feather="bell"></i>
                            <span id="notification-badge"
                                class="hidden absolute top-0 right-0 w-2 h-2 bg-red-500 rounded-full"></span>
                        </button>

                        <!-- Dropdown de notificações -->
                        <div class="z-50 hidden absolute right-0 mt-2 w-64 text-base list-none bg-white divide-y divide-oxford-blue rounded-lg shadow-lg" id="notifications-dropdown">
                            <div class="px-4 py-3 font-semibold">Notificações</div>
                            <ul class="py-2" id="notifications-list">
                                <!-- Notificações serão adicionadas dinamicamente aqui -->
                            </ul>
                        </div>

                        <button class="icon-btn button-config" aria-label="Configurações"><i
                                data-feather="settings"></i></button>
                    </div>

                    <!-- Avatar com Dropdown -->
                    <div class="relative">
                        <button class="flex text-sm bg-oxford-blue rounded-full focus:ring-4 focus:ring-mountain-meadow" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown">
                            <span class="sr-only">Abrir menu do usuário</span>
                            <img class="w-8 h-8 rounded-full"
                                src="https://i.pinimg.com/736x/d7/a6/18/d7a618fcaa8804e0588ee8d0f02d9f99.jpg"
                                alt="Foto do usuário">
                        </button>
                        <!-- Dropdown -->
                        <div class="z-50 hidden absolute right-0 mt-2 w-48 text-base list-none bg-white divide-y divide-oxford-blue rounded-lg shadow-lg" id="user-dropdown">
                            <div class="px-4 py-3">
                                <span class="block text-sm text-prussian-blue">Usuário</span>
                                <span class="block text-sm text-oxford-blue truncate">psicologo@fasiclin.com</span>
                            </div>
                            <ul class="py-2">
                                <li><a href="/view/html/dashboard/dashboard.html" class="dropdown-link">Dashboard</a>
                                </li>
                                <li><a href="/view/html/anamnese/anamnese.html" class="dropdown-link">Anamneses</a></li>
                                <li><a href="/view/html/configuracoes/configuracoes.html" class="dropdown-link">Configurações</a></li>
                                <li><a href="#" class="dropdown-link">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Barra de Pesquisa Mobile -->
            <div id="mobile-search-bar" class="hidden sm:hidden p-4">
                <input type="text" placeholder="Estou procurando por..." class="w-full p-2 pl-3 text-sm text-gray-900 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-mountain-meadow">
            </div>
        </nav>

        <!-- Sidebar -->
        <div id="sidebar" class="sidebar bg-[var(--zomp)] text-[var(--oxford-blue)] w-64 p-4 space-y-4 transition-transform duration-300 ease-in-out transform -translate-x-full fixed top-16 left-0 h-[calc(100%-64px)] z-50">
            <div class="mb-4">
                <span class="text-lg font-bold">DASHBOARD</span>
            </div>
            <a href="/view/html/dashboard/dashboard.html" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="grid"></i>
                <span class="ml-2">DASHBOARD</span>
            </a>
            <a href="/view/html/paciente/paciente.html" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="users"></i>
                <span class="ml-2">PACIENTES</span>
            </a>
            <a href="/view/html/cadastrar/cadastrar.html" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="database"></i>
                <span class="ml-2">CADASTRAR</span>
            </a>
            <a href="/view/html/anamnese/anamnese.html" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="file-text"></i>
                <span class="ml-2">ANAMNESES</span>
            </a>
            <a href="/view/html/consulta/consulta.html" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="coffee"></i>
                <span class="ml-2">CONSULTA</span>
            </a>
            <a href="#" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="check-square"></i>
                <span class="ml-2">APROVAÇÃO</span>
            </a>
            <a href="/view/html/relatorios/relatorios.html" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="upload"></i>
                <span class="ml-2">EMITIR</span>
            </a>
            <a href="#" class="flex items-center p-2 bg-[var(--mountain-meadow)] hover:bg-teal-600 rounded">
                <i data-feather="settings"></i>
                <span class="ml-2">CONFIGURAÇÕES</span>
            </a>
            <div class="mt-auto text-sm">psyclin.1.1A</div>
        </div>

        <!-- Conteúdo Principal -->
        <div class="flex-1 p-6 bg-gray-100" style="transition: margin-left 0.3s ease;">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="bg-[var(--zomp)] text-white p-4 rounded-lg shadow-md">
                    <div class="flex items-center">
                        <i data-feather="users" class="mr-2"></i>
                        <h3 class="text-lg font-semibold">Profissionais</h3>
                    </div>
                    <p id="active-professionals-count" class="text-3xl font-bold">000</p>
                </div>
                <div class="bg-[var(--zomp)] text-white p-4 rounded-lg shadow-md">
                    <div class="flex items-center">
                        <i data-feather="user-plus" class="mr-2"></i>
                        <h3 class="text-lg font-semibold">Atender</h3>
                    </div>
                    <p id="attend-count" class="text-3xl font-bold">000</p>
                </div>
                <div class="bg-[var(--zomp)] text-white p-4 rounded-lg shadow-md">
                    <div class="flex items-center">
                        <i data-feather="file-text" class="mr-2"></i>
                        <h3 class="text-lg font-semibold">Anamnese</h3>
                    </div>
                    <p id="anamnese-count" class="text-3xl font-bold">000</p>
                </div>
                <div class="bg-[var(--zomp)] text-white p-4 rounded-lg shadow-md">
                    <div class="flex items-center">
                        <i data-feather="calendar" class="mr-2"></i>
                        <h3 class="text-lg font-semibold">Encontros</h3>
                    </div>
                    <p id="encontros-count" class="text-3xl font-bold">000</p>
                </div>
                <div class="bg-[var(--zomp)] text-white p-4 rounded-lg shadow-md">
                    <div class="flex items-center">
                        <i data-feather="file" class="mr-2"></i>
                        <h3 class="text-lg font-semibold">Relatórios</h3>
                    </div>
                    <p id="relatorios-count" class="text-3xl font-bold">000</p>
                </div>
                <div class="bg-[var(--zomp)] text-white p-4 rounded-lg shadow-md">
                    <div class="flex items-center">
                        <i data-feather="clock" class="mr-2"></i>
                        <h3 class="text-lg font-semibold">Histórico</h3>
                    </div>
                    <p id="historico-count" class="text-3xl font-bold">000</p>
                </div>
            </div>
            <div class="mt-6 bg-[var(--white)] p-4 rounded-lg shadow-md">
                <div class="flex justify-between items-center mb-4">
                    <div class="flex space-x-2">
                        <i data-feather="chevron-left" class="cursor-pointer"></i>
                        <span class="font-semibold">February</span>
                        <i data-feather="chevron-right" class="cursor-pointer"></i>
                    </div>
                </div>
                <div class="grid grid-cols-7 gap-1 text-center">
                    <div class="font-semibold">S</div>
                    <div class="font-semibold">M</div>
                    <div class="font-semibold">T</div>
                    <div class="font-semibold">W</div>
                    <div class="font-semibold">T</div>
                    <div class="font-semibold">F</div>
                    <div class="font-semibold">S</div>
                    <div>27</div>
                    <div>28</div>
                    <div>29</div>
                    <div>30</div>
                    <div>31</div>
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                    <div>10</div>
                    <div>11</div>
                    <div>12</div>
                    <div>13</div>
                    <div>14</div>
                    <div>15</div>
                    <div>16</div>
                    <div>17</div>
                    <div>18</div>
                    <div>19</div>
                    <div>20</div>
                    <div>21</div>
                    <div>22</div>
                    <div>23</div>
                    <div>24</div>
                    <div>25</div>
                    <div>26</div>
                    <div>27</div>
                    <div>28</div>
                    <div>29</div>
                    <div>30</div>
                </div>
                <div class="mt-4 flex justify-end space-x-2">
                    <button class="px-4 py-2 bg-gray-200 rounded">Cancel</button>
                    <button class="px-4 py-2 bg-[var(--zomp)] text-[var(--white)] rounded">Done</button>
                </div>
            </div>

            <div class="loader fixed inset-45 flex items-center justify-center bg-[var(--zomp)] hidden">
            </div>

        </div>
        <!-- Importando JavaScript -->
        <script src="/view/js/dashboard/dashboard.js"></script>
        <!-- Importando Global.js -->
        <script src="/view/js/global.js"></script>
    </div>
</body>

</html>